<div class="teamList">
		<p style="font-size: 2rem">大學社會責任實踐計畫</p>
	</div><br>
	<div class="txt_family">
		<div class="team_txt">
			<div class="title_txt" style="font-size: 150%" >
				相關網站： <a href="http://www.usr.nkfust.edu.tw/WebContent/index.aspx?sid=9&mid=995">大學社會責任實踐計畫</a>
			</div><br>
			<div class="title_txt" style="font-size: 150%">
				相關檔案： <a href="https://www.iaci.nkfust.edu.tw/Upload/UserFiles/106%E5%B9%B4%E5%BA%A6%E6%95%99%E8%82%B2%E9%83%A8%E6%8E%A8%E5%8B%95%E5%A4%A7%E5%AD%B8%E7%A4%BE%E6%9C%83%E8%B2%AC%E4%BB%BB%E5%AF%A6%E8%B8%90%E8%A8%88%E7%95%AB%E7%94%B3%E8%AB%8B%E8%AA%AA%E6%98%8E%E6%9C%83%E6%89%8B%E5%86%8A%E8%B3%87%E6%96%99(0330%E6%9B%B4%E6%96%B0).zip">106年度教育部推動大學社會責任實踐計畫申請說明會手冊資料(0330更新)</a>
			</div><br>
			<div style="line-height: 250%">
			<%- include two_blank %>為強化大專校院與區域連結合作，實踐大學社會責任，培育對在地發展能創造價值的大學生，教育部自106年啟動「大學社會責任實踐計畫」，引導夥伴學校師生組成計畫與執行團隊，在區域發展上扮演關鍵的地方智庫角色，主動發掘在地需求、解決問題，透過在地優勢分工合作，協助區域整合，帶動中小企業及社區文化的創新發展；藉由學習的過程，也讓大學生感受到「被社區需要」，凝聚對區域發展的認同。本計畫未來需中央部會、地方政府、產業聚落公協會、社區團體、大專校院共同合作，創造符合在地城鄉、產業及文化發展的創新價值。<br>

			<%- include two_blank %>
			「一個偉大的城市應該要有一所偉大的大學！」，這句話道出了大專校院的重要性。臺灣目前有158所大專校院，約123萬名大學生，這些學生是未來社會的中堅份子，也是社會進歩的原動力來源，所以大專校院與社會的結合對於在地發展顯得格外重要。然而，現代企業經營，在追求獲利的同時，結合企業能力與資源，瞭解社會需求，對於整體環境做出具體貢獻，創造企業和社會共榮的景象，這就是大家熟知的企業社會責任（Corporate Social Responsibility, CSR），從企業社會責任到社會創新，知識創造與人文素質在過程中，扮演著重要角色，這些更是大專校院核心價值，也是當今社會不可或缺的一環。<br>

			<%- include two_blank %>
			 在教育資源的分配中，大專校院更是獲得政府關注及許多投入，因此除了在自己專業領域持續研究創新外，更應該主動積極和社區、社會、產業結合，將知識傳遞給社會大眾，帶動所在地區繁榮與發展，以實踐大學社會責任（University Social Responsibility, USR），讓大專校院走出學術象牙塔，讓人民可以更親近專業知識，促進社區、產業發展和社會進步；所以藉由本次計畫，使學校走出校園，瞭解社會變遷和產業變動，攜手社區(社會)投入在地關懷、人才培育、環境保護等，擴大公民議題參與，增進學校和人民互動與對話，減少資訊落差。此外，透過大學社會責任計畫實踐過程，讓學校發展屬於自己校務特色，增加競爭優勢、創新力，培養跨領域，並能解決未來30年社會問題之新人才，促進高等教育轉型。<br>

			 <%- include two_blank %>
			  自106年啟動「大學社會責任實踐」計畫，鼓勵學校提出「大學社會責任實踐計畫」（USR計畫），推動各大專校院實踐社會責任。本計畫採試辦期及執行期兩階段的推動作法。<br><br>

			  <div style="font-size: 150%">一、106年試辦期<br></div>

			  1.分區成立聯盟：預計於全國北區、中區、南區、東區，成立8到10個由大專校院、產業聚落、區域發展組織及地方政府所組成的跨界聯盟，盤點在地發展需求議題，發動聯盟內的學校對接在地文化及產業發展需求。每個聯盟由一所技專校院及一所大學擔任共同召集的「雙軸心學校」，擔負資源串聯與整合運作的角色，秉持「成功不必在我」的信念，帶動夥伴學校走出學術象牙塔，對焦產業需求，融入社區發展與人文脈動。<br>

			  2.未來在全國北、中、南、東設立「區域陪伴中心」，希望藉由「區域陪伴中心」陪伴和輔導的力量，秉持著「成功不必在我」的信念，帶動夥伴學校走出學術象牙塔，對焦產業需求，融入社區發展與人文脈動；均衡城鄉發展、促進產業創新及在地價值再造。<br>

			  <div style="font-size: 150%">二、107年執行期<br></div>

			  1.從過往的經驗，主動發掘在地問題，透過跨校、跨領域合作參與，帶領師生融入在地社會發展，培養發現問題、解決問題、預見問題的能力，建立跨域、跨場域教學的教育新理念，讓師生一起做中學，學中做，培養解決社會未來30年之跨領域的新人才。<br>

			  2.藉由學校、社會、產業相互結合和互動，讓師生主動學習未來產業變革、社會變遷、在地關懷和環境維護的重要性，透過產學合一，公民議題參與等方式，創造在地學習、在地就業之新模式。讓人民真正感受到大學不再是冰冷學術高塔，而是溫暖每一個人心中知識與溝通平台。<br>

			  
			  教育部透過「大學社會責任實踐計畫」的實行，希望高等教育能夠扎根於在地，伴隨著社會、產業成長，讓大學語言不再是複雜的數據和高深的學問；因此「大學社會責任實踐計畫」，將以產學合作、社會互動為基礎，以「在地連結．區域合作．社會創新」為願景，串聯技職教育與高等教育，一同推動產業創新、關懷社會、永續環境和高教轉型。<br>

			  <br> <div style="font-size: 150%">計畫四大核心目標：</div>

			  一、強化區域產學鏈結，協助在地產業發展與升級：為帶動在地產業創新發展與技術升級，透過區域凝聚共識，由學校針對在地發展及產業需求議題進行盤點，研提可行實踐方案，期能對區域發展能產生實質貢獻，並可提升在地價值。<br>

			  二、連結區域學校資源，協助城鄉教育發展：由學校主動積極的連結區域學校協助發展、縮短城鄉差距並能帶動各地區的繁榮與發展。透過大學深入引導協助在地中小學進行教學翻轉，以培育學生「做中學」的解決問題能力，並透過學校與產業互動的經驗，更貼近產業的需求，培育學生具備實踐及行動的能力。<br>

			  三、整合部會與地方政府資源，挹注在地發展：鼓勵大學師生參與社會創新實踐，藉由教師發掘及帶動學生解決在地議題，讓學生能瞭解在地產業的隱形冠軍，並運用所學去創造產業的價值，改變在地居民對於大學生的觀感增加學生對地區之認同感並創造價值。<br>

			  四、落實大學社會責任，推動師生社會創新：透過大學生實地探尋及建構區域發展特色與區域產業人才及研發供需調研及對接機制，以培育產業所需實務人才，期可發揮促進區域學校學生連結在地就業，以提升在地就業率的效益。<br>
			</div>
			  <div class="card flex-md-row mb-4 box-shadow">
				<div class="card-body flex-column align-items-start padding5">
					<img class="img-fluid" src="https://www.iaci.nkfust.edu.tw/Upload/UserFiles/core.jpg" width="100%" style="display:block; margin:auto;" >
				</div>
			</div>
			<div align="center">
			教育部推動大學社會責任實踐計畫<br>
			聯絡地址：824高雄市燕巢區大學路1號<br>
			國立高雄第一科技大學 L209室<br>
			連絡電話：07-6011000#1490~1495<br>
			電子信箱：usr@nkfust.edu.tw<br>
			</div>
		</div>
	</div>
	