<div class="col-12" id="managePage">
    <table id="achi_M_table" class="table table-responsive-sm table-bordered text-nowrap" width="100%"></table>
</div>
<script>
    (function() {
        var result = <%- posts %>;
        var monthForamt = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
        var nowID = null;
        var activityID = null;
        var nowID_D = null;
        for(var i = 0; i < result.length ; i++)
            result[i].id = i + 1;
        
        var achi_M_table = $("#achi_M_table").DataTable({
            "data": result,
            "columns": [
                { "title": "成果ID", "data": "id" },
                { "title": "活動名稱", "data": "ACT_NAME" , 
                    "fnCreatedCell": function(td, cData, rData, rIndex, cIndex) {
                        $(td).html('<a href=/achievement/2/' + rData._id + '>' + cData + '</a>');
                    }},
                { "title": "執行團隊", "data": "TEAM_NAME" },
                { "title": "結束時間", "data": "ACT_END_DATE", 
                    "fnCreatedCell": function(td, cData, rData, rIndex, cIndex) {
                        var date = new Date(parseInt(cData));
                        var month,hour,minute = '00';
                        var day = parseInt(date.getDate());

                        if(day < 10)
                            day = '0' + day;
                            
                        if(parseInt(date.getHours()) < 10)
                            hour = '0' + date.getHours();
                        else
                            hour = date.getHours();

                        if(parseInt(date.getMinutes()) < 10)
                            minute = '0' + date.getMinutes();
                        else
                            minute = date.getMinutes();
                        $(td).html(date.getFullYear() + '年' + monthForamt[date.getMonth()] + '月' + day + '日  '+ hour + ':' + minute);
                    }},
            ]
        });

        $('#achi_M_table tbody').on( 'click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    nowID = null;
                    activityID = null;
                    nowID_D = null;
                }
                else {
                    achi_M_table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    if(achi_M_table.row( this ).data()){   
                        nowID = achi_M_table.row( this ).data()._id;
                        activityID = achi_M_table.row( this ).data().ACT_ID;
                        nowID_D = $(this);
                    }
                }
            });

    $('#delete').click(() => {
      if(nowID == null || activityID == null){
        alert('尚未選取成果貼文');
        return;
      }
        
      let data =  {ID: nowID, ACT_ID: activityID};
      $('#' + nowID).parent('th').parent('tr').remove();
      $.post('/achievement/delete', { data: data } , (result) => {
        if(result == 'success'){
            achi_M_table.row(nowID_D).remove().draw();
            nowID = null;
            activityID = null;
            nowID_D = null;
            alert('刪除成果貼文成功');
        }
        else{
          console.log('error');
          alert('資料庫模組錯誤');
        }
      })
    });

    $('#update').click(() => {
      if(nowID == null)
        return alert('尚未選取成果貼文');
      
      let data =  nowID;
      $('#managePage').hide();
      $('#features').hide();
      $('#newPage').hide();
      $('#backDIV').show();
      $('#editPage').show();

      let html = '';
      let a = [];
      let b = [];

      $.post('/achievement/get', { data: data }, (result) => {
        $('#editInput1').text(result[0].ACT_NAME);
        $('#editInput7').val(result[0]._id);
        
        result[0].ACHI_IMG.forEach((image, index) => {  
            a.push(image.URL);
            html += `<div class="col-sm-3 col-12">
                    <img class="img-thumbnail img-fluid img-thumbnail" id="image` + index + `" src="` + image.URL + `" width="100%" height="200" />
                    <span>` + image.NAME.split('.')[0] + `</span>
                </div>`;
        });

        $('#editInput2').html(html);
        $('#editInput3').html(result[0].ACHI_STORE);
        
        for(let i = 0 ; i < result[0].ACHI_IMG.length ; i++) {
            $('#image' + i).click(function() {
                if($("#image" + i).css("background-color") == 'rgb(255, 255, 255)'){
                    $("#image" + i).css("background-color","#33CCFF");
                    a.remove($('#image' + i).attr('src'));
                    console.log($('#image' + i).attr('src'));
                    b.push($('#image' + i).attr('id'));
                } else {
                    $("#image" + i).css("background-color","#fff");
                    a.push($('#image' + i).attr('src'));
                    b.remove($('#image' + i).attr('id'));
                }
            });
        }

        $('#remove').click(function() {
            console.log(a);
           $('#editInput6').val(a);
            b.forEach((id, index) => {
                $('#' + id).parent().remove();
            });
        });
      });
    });
    })();

Array.prototype.remove = function () {
    let what, a = arguments, L = a.length, ax;
    while (L && this.length) {
        what = a[--L];
        while ((ax = this.indexOf(what)) !== -1) {
            this.splice(ax, 1);
        }
    }
    return this;
};
</script>