<div class="col-12" id="managePage">
    <table id="achi_M_table" class="table table-bordered"></table>
</div>
<script>
    (function() {
        var result = <%- posts %>;
        var monthForamt = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
        var nowID = null;
        var activityID = null;
        var nowID_D = null;
        for(var i = 0; i < result.length ; i++)
            result[i].id = i + 1;
        
        var achi_M_table = $("#achi_M_table").DataTable({
            "data": result,
            "columns": [
                { "title": "成果ID", "data": "id" },
                { "title": "活動名稱", "data": "ACT_NAME" },
                { "title": "執行團隊", "data": "TEAM_NAME" },
                { "title": "結束時間", "data": "ACT_END_DATE", 
                    "fnCreatedCell": function(td, cData, rData, rIndex, cIndex) {
                        var date = new Date(parseInt(cData));
                        var month,hour,minute = '00';
                        var day = parseInt(date.getDate());

                        if(day < 10)
                            day = '0' + day;
                            
                        if(parseInt(date.getHours()) < 10)
                            hour = '0' + date.getHours();
                        else
                            hour = date.getHours();

                        if(parseInt(date.getMinutes()) < 10)
                            minute = '0' + date.getMinutes();
                        else
                            minute = date.getMinutes();
                        $(td).html(date.getFullYear() + '年' + monthForamt[date.getMonth()] + '月' + day + '日  '+ hour + ':' + minute);
                    }},
            ]
        });

        $('#achi_M_table tbody').on( 'click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    nowID = null;
                    activityID = null;
                    nowID_D = null;
                }
                else {
                    achi_M_table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    if(achi_M_table.row( this ).data()){   
                        nowID = achi_M_table.row( this ).data()._id;
                        activityID = achi_M_table.row( this ).data().ACT_ID;
                        nowID_D = $(this);
                    }
                }
            });

    $('#delete').click(() => {
      if(nowID == null || activityID == null){
        alert('尚未選取貼文');
        return;
      }
        
      let data =  {ID: nowID, ACT_ID: activityID};
      $('#' + nowID).parent('th').parent('tr').remove();
      $.post('/achievement/delete', { data: data } , (result) => {
        if(result == 'success'){
            achi_M_table.row(nowID_D).remove().draw();
            nowID = null;
            activityID = null;
            nowID_D = null;
        }
        else{
          console.log('error');
          alert('資料庫模組錯誤');
        }
      })
    });

    $('#update').click(() => {
      if(nowID == null){
        alert('尚未選取貼文');
        return;
      }
      let data =  $('#' + nowID).val();
      $('#managePage').hide();
      $('#features').hide();
      $('#newPage').hide();
      $('#backDIV').show();
      $('#editPage').show();

      $.post('/activity/get', { data: data }, (result) => {
        $('#editID').val(result._id);
        $('#ACT_SUBJ_NAME').val(result.ACT_SUBJ_NAME);
        $('#ACT_LOCATION').val(result.ACT_LOCATION);
        $('#ACT_LIMIT_SEX').val(result.ACT_LIMIT_SEX);
        $('#ACT_BEG_DATE_D').val(result.ACT_BEG_DATE.split(' ')[0]);
        $('#ACT_BEG_DATE_T').val(result.ACT_BEG_DATE.split(' ')[1]);
        $('#ACT_END_DATE_D').val(result.ACT_END_DATE.split(' ')[0]);
        $('#ACT_END_DATE_T').val(result.ACT_END_DATE.split(' ')[1]);
        $('#ACT_B_BEG_D').val(result.ACT_B_BEG.split(' ')[0]);
        $('#ACT_B_BEG_T').val(result.ACT_B_BEG.split(' ')[1]);
        $('#ACT_B_END_D').val(result.ACT_B_END.split(' ')[0]);
        $('#ACT_B_END_T').val(result.ACT_B_END.split(' ')[1]);
        $('#ACT_LIMIT').val(result.ACT_LIMIT);
        $('#ACT_URL').val(result.ACT_URL);
        if(result.ACT_K_TEL == 'Y') 
          $('#q1').prop('checked', true);
        else
          $('#q2').prop('checked', true);
        if(result.ACT_K_DEPT == 'Y') 
          $('#q3').prop('checked', true);
        else
          $('#q4').prop('checked', true);
        if(result.ACT_K_OCCUP == 'Y') 
          $('#q5').prop('checked', true);
        else
          $('#q6').prop('checked', true);
        if(result.ACT_K_IDNO == 'Y') 
          $('#q7').prop('checked', true);
        else
          $('#q8').prop('checked', true);
        if(result.ACT_K_SEX == 'Y') 
          $('#q9').prop('checked', true);
        else
          $('#q10').prop('checked', true);
        if(result.ACT_K_BIRTH == 'Y') 
          $('#q11').prop('checked', true);
        else
          $('#q12').prop('checked', true);
        if(result.ACT_K_FOOD == 'Y') 
          $('#q13').prop('checked', true);
        else
          $('#q14').prop('checked', true);
        if(result.ACT_K_ADDR == 'Y') 
          $('#q15').prop('checked', true);
        else
          $('#q16').prop('checked', true);
        $('#ACT_DEPTNAME').val(result.ACT_DEPTNAME);
        $(document.getElementsByTagName('iframe')[1].contentWindow.document.body).html(result.ACT_LIST)
      });
    });
    })();
</script>