<div class="col-12" id="editPage" style="display: none;">
    <form class="col-12" method="post" action="/achievement/edit" enctype="multipart/form-data">
        <div id="formDIV" class="row">
            <div class="form-group col-12">
                <label for="editInput1">活動名稱：</label>
                <span id="editInput1"></span>
                <input id="editInput7" type="hidden" name="ACHI_ID" value="" />
            </div>
            <div class="form-group col-sm-4 col-5">
                <label>現有成果照片：</label>
                <input id="editInput6" type="hidden" name="deleteImg" value="" />
            </div>
            <div class="form-group col-sm-4 col-0"></div>
            <div class="form-group col-sm-4 col-7">
                <input id="remove" class="btn btn-warning btn-block" type="button" value="刪除" />
            </div>
            <div class="form-group col-12">
                <div id="editInput2" class="row"></div>
            </div>
            <div class="form-group col-12">
                <label for="editInput4">成果圖片上傳</label>
                <input type="file" class="form-control" id="editInput4" name="ACHI_DEP_IMG" multiple>
            </div>
            <div class="form-group col-12">
                <label for="editInput3">成果分享：</label>
                <textarea class="form-control" id="editInput3" rows="10" name="ACHI_DEP"></textarea>
            </div>
            <div class="form-group col-sm-9 col-0"></div>
            <div class="form-group col-sm-3 col-12">
                <label for="editInput5"></label>
                <input type="submit" id="editInput5" class="form-control btn btn-success" value="修改成果" />
            </div>
        </div>
    </form>
</div>
<style>
    #editPage {
        font-size: 18px;
    }
</style>