<div class="col-12" id="managePage">
    <table id="dataTableForAct" class="table table-responsive-sm table-bordered text-nowrap" style="width: 100%"></table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        (function() {
            var actData = <%- posts %>;
            var nowID = null;
            var nowID_D = null;
            var monthForamt = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
            for(var i = 0 ; i < actData.length ; i++)
                actData[i].id = i + 1;
            var dataTableForAct = $('#dataTableForAct').DataTable({
                "data": actData,
                "responsive": true,
                "columns": [
                    { "title": '#', "data": 'id'},
                    { "title": '活動名稱', "data": 'ACT_SUBJ_NAME', 
                        "fnCreatedCell": function(td, cData, rData, rIndex, cIndex) {
                            $(td).html('<a href=/activity/' + rData._id + '>' + cData + '</a>');
                        }},
                    { "title": '執行團隊', "data": 'ACT_DEPTNAME'}, 
                    { "title": '活動開始時間', "data": 'ACT_BEG_DATE', 
                        "fnCreatedCell": function(td, cData, rData, rIndex, cIndex) {
                            var date = new Date(parseInt(cData));
                            var month = '00';
                            var hour = '00';
                            var day = parseInt(date.getDate());
                            var minute = '00';

                            if(day < 10)
                              day = '0' + day;
                                 
                            if(parseInt(date.getHours()) < 10)
                              hour = '0' + date.getHours();
                            else
                              hour = date.getHours();

                            if(parseInt(date.getMinutes()) < 10)
                              minute = '0' + date.getMinutes();
                            else
                              minute = date.getMinutes();
                            $(td).html(date.getFullYear() + '年' + monthForamt[date.getMonth()] + '月' + day + '日  '+ hour + ':' + minute);
                        }},
                    { "title": '活動結束時間', "data": 'ACT_END_DATE', 
                    "fnCreatedCell": function(td, cData, rData, rIndex, cIndex) {
                            var date = new Date(parseInt(cData));
                            var month = '00';
                            var hour = '00';
                            var day = parseInt(date.getDate());
                            var minute = '00';

                            if(day < 10)
                              day = '0' + day;
                           

                            if(parseInt(date.getHours()) < 10)
                              hour = '0' + date.getHours();
                            else
                              hour = date.getHours();

                            if(parseInt(date.getMinutes()) < 10)
                              minute = '0' + date.getMinutes();
                            else
                              minute = date.getMinutes();
                            $(td).html(date.getFullYear() + '年' + monthForamt[date.getMonth()] + '月' + day + '日  '+ hour + ':' + minute);
                        }},
                    { "title": '活動發佈日期', "data": 'ACT_C_AT',
                        "fnCreatedCell": function(td, cData, rData, rIndex, cIndex) {
                            var date = new Date(parseInt(cData));
                            var month = '00';
                            var hour = '00';
                            var day = parseInt(date.getDate());
                            var minute = '00';

                            if(day < 10)
                              day = '0' + day;
                            
                   
                            if(parseInt(date.getHours()) < 10)
                              hour = '0' + date.getHours();
                            else
                              hour = date.getHours();

                            if(parseInt(date.getMinutes()) < 10)
                              minute = '0' + date.getMinutes();
                            else
                              minute = date.getMinutes();
                            $(td).html(date.getFullYear() + '年' + monthForamt[date.getMonth()] + '月' + day + '日  '+ hour + ':' + minute);
                        }}
                ]
            });

            $('#dataTableForAct tbody').on( 'click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    nowID = null;
                    nowID_D = null;
                }
                else {
                    dataTableForAct.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    if(dataTableForAct.row( this ).data()){
                        nowID = dataTableForAct.row( this ).data()._id;
                        nowID_D = $(this);
                    }
                }
            });

            $('#update').click(() => {
              if(nowID == null){
                alert('尚未選取貼文');
                return;
              }
              $('#managePage').hide();
              $('#features').hide();
              $('#newPage').hide();
              $('#backDIV').show();
              $('#editPage').show();

              $.post('/activity/get', { data: nowID }, (result) => {
                $('#editID').val(result._id);
                $('#editInputID1').val(result.ACT_SUBJ_NAME);
                $('#editInputID2').val(result.ACT_LOCATION.LOCATION_NAME);
                $('#editInputID13').val(result.ACT_LIMIT_SEX);
                $('#editInputID4').val(result.ACT_LOCATION.LOCATION_ADDR);
                $('#editInputID32').val(result.ACT_LOCATION.LOCATION_LAT);
                $('#editInputID33').val(result.ACT_LOCATION.LOCATION_LNG);
                $('#editInputID34').val(result.ACT_NOT_SIGN);
                if(!result.ACT_NOT_SIGN) {
                  $('#editCheckPage').hide();
                }
                else {
                  $('#editCheckPage').show();
                }
                var date1 = new Date(parseInt(result.ACT_BEG_DATE)),
                month = '00',
                hour = '00',
                day = parseInt(date1.getDate()),
                minute = '00';

                if(day < 10)
                  day = '0' + day;
                
                if(parseInt(date1.getHours()) < 10)
                  hour = '0' + date1.getHours();
                else
                  hour = date1.getHours();

                if(parseInt(date1.getMinutes()) < 10)
                  minute = '0' + date1.getMinutes();
                else
                  minute = date1.getMinutes();

                var date1_text1 = date1.getFullYear() + '-' + monthForamt[date1.getMonth()] + '-' + day;
                var date1_text2 = hour + ':' + minute;
                $('#editInputID5').val(date1_text1);
                $('#editInputID6').val(date1_text2);
                var date2 = new Date(parseInt(result.ACT_END_DATE)),
                month = '00',
                hour = '00',
                day = parseInt(date2.getDate()),
                minute = '00';

                if(day < 10)
                  day = '0' + day;
                
                if(parseInt(date2.getHours()) < 10)
                  hour = '0' + date2.getHours();
                else
                  hour = date2.getHours();

                if(parseInt(date2.getMinutes()) < 10)
                  minute = '0' + date2.getMinutes();
                else
                  minute = date2.getMinutes();

                var date2_text1 = date2.getFullYear() + '-' + monthForamt[date2.getMonth()] + '-' + day;
                var date2_text2 = hour + ':' + minute;
                $('#editInputID7').val(date2_text1);
                $('#editInputID8').val(date2_text2);
                var date3 = new Date(parseInt(result.ACT_B_BEG)),        
                month = '00',
                hour = '00',
                day = parseInt(date3.getDate()),
                minute = '00';

                if(day < 10)
                  day = '0' + day;
                
                if(parseInt(date3.getHours()) < 10)
                  hour = '0' + date3.getHours();
                else
                  hour = date3.getHours();

                if(parseInt(date3.getMinutes()) < 10)
                  minute = '0' + date3.getMinutes();
                else
                  minute = date3.getMinutes();

                var date3_text1 = date3.getFullYear() + '-' + monthForamt[date3.getMonth()] + '-' + day;
                var date3_text2 = hour + ':' + minute;
                $('#editInputID9').val(date3_text1);
                $('#editInputID10').val(date3_text2);
                var date4 = new Date(parseInt(result.ACT_B_END)),                
                month = '00',
                hour = '00',
                day = parseInt(date4.getDate()),
                minute = '00';

                if(day < 10)
                  day = '0' + day;
                
                if(parseInt(date4.getHours()) < 10)
                  hour = '0' + date4.getHours();
                else
                  hour = date4.getHours();

                if(parseInt(date4.getMinutes()) < 10)
                  minute = '0' + date4.getMinutes();
                else
                  minute = date4.getMinutes();

                var date4_text1 = date4.getFullYear() + '-' + monthForamt[date4.getMonth()] + '-' + day;
                var date4_text2 = hour + ':' + minute;
                $('#editInputID11').val(date4_text1);
                $('#editInputID12').val(date4_text2);
                
                $('#editInputID13').val(result.ACT_LIMIT_SEX);
                $('#editInputID14').val(result.ACT_LIMIT);
                $('#editInputID15').val(result.ACT_URL);
                if(result.ACT_K_TEL == 'Y') 
                  $('#editInputID16').prop('checked', true);
                else
                  $('#editInputID17').prop('checked', true);

                if(result.ACT_K_DEPT == 'Y') 
                  $('#editInputID18').prop('checked', true);
                else
                  $('#editInputID19').prop('checked', true);

                if(result.ACT_K_IDNO == 'Y') 
                  $('#editInputID20').prop('checked', true);
                else
                  $('#editInputID21').prop('checked', true);

                if(result.ACT_K_SEX == 'Y') 
                  $('#editInputID22').prop('checked', true);
                else
                  $('#editInputID23').prop('checked', true);

                if(result.ACT_K_BIRTH == 'Y') 
                  $('#editInputID24').prop('checked', true);
                else
                  $('#editInputID25').prop('checked', true);

                if(result.ACT_K_FOOD == 'Y') 
                  $('#editInputID26').prop('checked', true);
                else
                  $('#editInputID27').prop('checked', true);

                if(result.ACT_K_ADDR == 'Y') 
                  $('#editInputID28').prop('checked', true);
                else
                  $('#editInputID29').prop('checked', true);
                $('#editInputID30').val(result.TEAM_ID);
                $(document.getElementsByTagName('iframe')[1].contentWindow.document.body).html(result.ACT_LIST);
              });
            });

            $('#delete').click(() => {
              if(nowID_D == null){
                alert('尚未選取貼文');
                return;
              }
                
              $('#' + nowID).parent('th').parent('tr').remove();
              $.post('/activity/delete', { data: nowID } , (result) => {
                if(result == 'success'){
                    dataTableForAct.row(nowID_D).remove().draw();
                    nowID = null;
                    nowID_D = null;
                    alert('刪除貼文成功')
                }
                else{
                  console.log('error');
                  alert('資料庫模組錯誤');
                }
              })
            });

            $('#checkSign').click(() => {
              if(nowID_D == null){
                alert('尚未選取貼文');
                return;
              } else {
                document.location.href="/signUpList/" + nowID;
              }
            });
        })();
    });
</script>