<div class="col-12 activityManageNewPage" id="editPage" style="display: none;">
    <form class="col-12" method="post" action="/activity/edit">
        <div id="formDIV" class="row">
            <div class="form-group col-12">
                <label for="editInputID1">活動名稱：</label>
                <input type="text" class="form-control" id="editInputID1" name="ACT_SUBJ_NAME">
                <input id="editID" type="hidden" name="editID" value="">
            </div>
            <div class="form-group col-9 ">
                <label for="editInputID2">活動地名</label>
                <input type="text" class="form-control" id="editInputID2" name="ACT_LOCATION_NAME"
                placeholder="嘉義縣中埔鄉客家文化協會">
            </div>
            <div class="form-group col-3 ">
                <label for="editInputID3">　</label>
                <input type="button" class="form-control btn btn-warning" id="editInputID3" value="查詢">
            </div>
            <div class="form-group col-12 ">
                <label for="editInputID4">活動地點：（請輸入詳細地址）</label>
                <input type="text" class="form-control" id="editInputID4" name="ACT_LOCATION_ADDR"
                placeholder="606台灣嘉義縣中埔鄉金蘭村頂山門29號">
                <input type="hidden" class="form-control" id="editInputID33" name="ACT_LOCATION_LNG"
                placeholder="120.4946172">
                <input type="hidden" class="form-control" id="editInputID32" name="ACT_LOCATION_LAT"
                placeholder="23.4462119">
            </div>
            <div class="col-sm-6 col-12 row" style="margin-right: 15px;">
                <div class="form-group col-sm-6 col-12">
                    <label for="editInputID5">活動開始時間：</label>
                    <input type="date" class="form-control" id="editInputID5" name="ACT_BEG_DATE_D">
                </div>
                <div class="form-group col-sm-6 col-12">
                    <label for="editInputID6">　</label>
                    <select id="editInputID6" class="form-control" name="ACT_BEG_DATE_T">
                        <option value="00:00">00:00</option>
                        <option value="01:00">01:00</option>
                        <option value="02:00">02:00</option>
                        <option value="03:00">03:00</option>
                        <option value="04:00">04:00</option>
                        <option value="05:00">05:00</option>
                        <option value="06:00">06:00</option>
                        <option value="07:00">07:00</option>
                        <option value="08:00">08:00</option>
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                        <option value="23:00">23:00</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-12 row" style="margin-right: 15px;">
                <div class="form-group col-sm-6 col-12">
                    <label for="editInputID7">活動結束時間：</label>
                    <input type="date" class="form-control" id="editInputID7" name="ACT_END_DATE_D">
                </div>
                <div class="form-group col-sm-6 col-12">
                    <label for="editInputID8">　</label>
                    <select id="editInputID8" class="form-control" name="ACT_END_DATE_T">
                        <option value="00:00">00:00</option>
                        <option value="01:00">01:00</option>
                        <option value="02:00">02:00</option>
                        <option value="03:00">03:00</option>
                        <option value="04:00">04:00</option>
                        <option value="05:00">05:00</option>
                        <option value="06:00">06:00</option>
                        <option value="07:00">07:00</option>
                        <option value="08:00">08:00</option>
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                        <option value="23:00">23:00</option>
                    </select>
                </div>
            </div>
            <div id="editCheckPage" class="row signUpCheckPage1" style="display: none; width: 100%">
                <div class="row col-sm-6 col-12 forEditor4">
                    <div class="form-group col-sm-6 col-12 forEditor2">
                        <label for="editInputID9">活動開始報名時間：</label>
                        <input type="date" class="form-control" id="editInputID9" name="ACT_B_BEG_D">
                        <input id="editInputID34" type="hidden" name="ACT_NOT_SING" />
                    </div>
                    <div class="form-group col-sm-6 col-12 forEditor2 forEditor2_2">
                        <label for="editInputID10">　</label>
                        <select id="editInputID10" class="form-control" name="ACT_B_BEG_T">
                            <option value="00:00">00:00</option>
                            <option value="01:00">01:00</option>
                            <option value="02:00">02:00</option>
                            <option value="03:00">03:00</option>
                            <option value="04:00">04:00</option>
                            <option value="05:00">05:00</option>
                            <option value="06:00">06:00</option>
                            <option value="07:00">07:00</option>
                            <option value="08:00">08:00</option>
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                            <option value="21:00">21:00</option>
                            <option value="22:00">22:00</option>
                            <option value="23:00">23:00</option>
                        </select>
                    </div>
                    </div>
                    <div class="row col-sm-6 col-12 forEditor4 forEditor4_2" style="margin-right: 15px;">
                        <div class="form-group col-sm-6 col-12 forEditor2">
                            <label for="editInputID11">活動結束報名時間：</label>
                            <input type="date" class="form-control" id="editInputID11" name="ACT_B_END_D">
                        </div>
                        <div class="form-group col-sm-6 col-12 forEditor2 forEditor2_2">
                            <label for="editInputID12">　</label>
                            <select id="editInputID12" class="form-control" name="ACT_B_END_T">
                                <option value="00:00">00:00</option>
                                <option value="01:00">01:00</option>
                                <option value="02:00">02:00</option>
                                <option value="03:00">03:00</option>
                                <option value="04:00">04:00</option>
                                <option value="05:00">05:00</option>
                                <option value="06:00">06:00</option>
                                <option value="07:00">07:00</option>
                                <option value="08:00">08:00</option>
                                <option value="09:00">09:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                                <option value="13:00">13:00</option>
                                <option value="14:00">14:00</option>
                                <option value="15:00">15:00</option>
                                <option value="16:00">16:00</option>
                                <option value="17:00">17:00</option>
                                <option value="18:00">18:00</option>
                                <option value="19:00">19:00</option>
                                <option value="20:00">20:00</option>
                                <option value="21:00">21:00</option>
                                <option value="22:00">22:00</option>
                                <option value="23:00">23:00</option>
                            </select>
                        </div>
                    </div>
                        <div class="form-group col-6">
                        <label for="editInputID13">活動性別限制：</label>
                        <select class="form-control" id="editInputID13" name="ACT_LIMIT_SEX">
                            <option value="1">男性</option>
                            <option value="2">女性</option>
                            <option value="N">不限</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="editInputID14">報名人數上限：</label>
                        <input type="text" class="form-control" id="editInputID14" name="ACT_LIMIT"
                        placeholder="若無輸入，人數上限為9999">
                    </div>
                    <div class="form-group col-12">
                        <label for="editInputID15">相關連結：</label>
                        <input type="text" class="form-control" id="editInputID15" name="ACT_URL">
                    </div>
                    <div class="col-6">
                        是否調查連絡電話:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_TEL" id="editInputID16" value="Y">
                            <label class="form-check-label" for="editInputID16">Y</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_TEL" id="editInputID17" value="N" checked>
                            <label class="form-check-label" for="editInputID17">N</label>
                        </div><br />
                        是否調查就讀科系名稱：
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_DEPT" id="editInputID18" value="Y">
                            <label class="form-check-label" for="editInputID18">Y</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_DEPT" id="editInputID19" value="N" checked>
                            <label class="form-check-label" for="editInputID19">N</label>
                        </div><br />
                        是否調查身份證字號:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_IDNO" id="editInputID20" value="Y">
                            <label class="form-check-label" for="editInputID20">Y</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_IDNO" id="editInputID21" value="N" checked>
                            <label class="form-check-label" for="editInputID21">N</label>
                        </div><br />
                        是否調查性別:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_SEX" id="editInputID22" value="Y">
                            <label class="form-check-label" for="editInputID22">Y</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_SEX" id="editInputID23" value="N" checked>
                            <label class="form-check-label" for="editInputID23">N</label>
                        </div><br />
                        是否調查生日:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_BIRTH" id="editInputID24" value="Y">
                            <label class="form-check-label" for="editInputID24">Y</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_BIRTH" id="editInputID25" value="N" checked>
                            <label class="form-check-label" for="editInputID25">N</label>
                        </div><br />
                        是否供餐:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_FOOD" id="editInputID26" value="Y">
                            <label class="form-check-label" for="editInputID26">Y</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_FOOD" id="editInputID27" value="N" checked>
                            <label class="form-check-label" for="editInputID27">N</label>
                        </div><br />
                        是否填報聯絡地址:
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_ADDR" id="editInputID28" value="Y">
                            <label class="form-check-label" for="editInputID28">Y</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ACT_K_ADDR" id="editInputID29" value="N" checked>
                            <label class="form-check-label" for="editInputID29">N</label>
                        </div>
                    </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="editInputID30">主辨隊伍：</label>
                    <select multiple class="form-control" id="editInputID30" name="ACT_DEPTNAME">
                        <% teams.forEach((team, index) => { %>
                            <option value="<%- team._id %>"><%- team.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="editInputID31">活動敘述：</label>
                    <textarea class="form-control" id="editInputID31" rows="3" name="ACT_LIST"></textarea>
                </div>
            </div>
            <div class="col-8"></div>
            <div class="col-4">
                <input class="btn btn-warning btn-block" type="submit" value="修改活動" />
            </div>
        </div>
    </form>
</div>
<style>
    .activityManageNewPage{
        font-size: 18px;
    }
</style>