<%- include header %>
<%- include nav2 %>
<br>
<div class="row mb-2">
		<div class="col-md-3">
			<%- include admin_c_dropdown %>			
		</div>

		<div class="col-md-5">
			<form method="post">
				標題: <input type="text" name="title"><br />
				地點: <input type="text" name="place"><br />
				內容: <br />
				<textarea id="editor_id" name="content" style="width:700px;height:300px;">
					&lt;strong&gt;HTML内容&lt;/strong&gt;
				</textarea><br />
			<input type="submit" name="發表" />
			</form>
		</div>
	</div>
<%- include footer %>
