<%- include header %>
<%- include nav2 %>
    <form method="post">
        團隊名稱:
        <input type="text" name="name" />
        <br /> 團隊負責人:
        <input type="text" name="leader" />
        <br /> 團隊服務宗旨:
        <input type="text" name="purpose" />
        <br /> 團隊介紹:
        <br />
        <textarea id="editor_id" name="introduction" style="width:700px;height:300px;">
        </textarea>
        <br /> 團隊專業:
        <br />
        <textarea id="editor_id" name="pro_introduction" style="width:700px;height:300px;">
        </textarea>
        <br /> 團隊網站:
        <br />
        <input type="text" name="website" />
        <br /> 團隊聯絡資料:
        <br />
        聯絡人姓名:
        <input type="text" name="conecntName" />
        <br />
        信箱:
        <input type="email" name="email" />
        <br />
        手機:
        <input type="number" name="phone" />
        <br />
        <input type="submit" name="新增" />
    </form>