<div id="features" class="row col-12">
    <div class="col-3">
        <button id="new" class="btn btn-primary btn-block">新增</button>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <button id="update" class="btn btn-success btn-block">修改</button>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <button id="delete" class="btn btn-danger btn-block">刪除</button>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
    </div>
</div>
