<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
<hr>
<div class="foot">
    <!--Footer Links-->
    <div class="container text-center text-md-left" >
        <div class="row" >

            <!--First column-->
            <div class="col-md-4" >
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">聯絡我們</h5>
                <p>教育部大學學習生態系統創新計畫辦公室<br>
					632雲林縣虎尾鎮文化路64號<br>
					電話：<br>
					123456789(李安)<br>
					123456798(安李)<br>
					傳真：
					05-123456789<br>
					E-mail：40343345@gm.nfu.edu.tw<br>
				</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">友站連結</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.iaci.nkfust.edu.tw/Industry/CP.aspx?s=352&n=409">教育部產學合作資訊網</a>
                    </li>
                    <li>
                        <a href="http://house.nfu.edu.tw/">Formosa雲端租屋生活網</a>
                    </li>
                    <li>
                        <a href="http://hakka.cyc.edu.tw/">嘉義縣客家文化協會</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-3 mx-auto" >
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">相關連結</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.nfu.edu.tw/zh/">國立虎尾科技大學</a>
                    </li>
                    <li>
                        <a href="http://maselab318.nfu.edu.tw/lab/">行動應用與軟體工程實驗室</a>
                    </li>
                    <li>
                        <a href="http://www.university2025.tw/main.php">大學學習生態系統創新計畫</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        @ Copyright:M.A.S.E LAB - 開發者好帥喔 - 3 -
    </div>
    <!--/.Copyright-->
</div>
</footer>