<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>University Social Responsibility</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/basic/css/w3.css">
    <link rel="stylesheet" href="/basic/css/bootstrap.min.css">
    <link rel="stylesheet" href="/basic/css/index_v2/index.css">
    <link rel="stylesheet" href="/activity/assets2/css/stytle.css" />
    <!-- JS -->
    <script src="/basic/js/jquery.min.js"></script>
    <script src="/basic/js/bootstrap.min.js"></script>
    <!-- <script charset="utf-8" src="/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="/kindeditor/lang/zh-TW.js"></script>
    <script>
    (function() {
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea', {
                uploadJson: '/uploadImg',
                width : '100%',
                items: [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'blod', 'italic',
                    'underline', 'removeformat', 'justifyleft', 'justifycenter',
                    'justifyright',
                    'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link'
                ]
            });
        });
    })();
    </script> -->
</head>