<%- include header %>
<body>
  <%- include nav2 %>
  <form method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">用戶名 :</label>
        <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter user name">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">密碼 : </label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit"  class="btn btn-primary">登錄</button>
    </form>
</body>
<%- include footer %>

