<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>USR Manage</title>
  <!-- Bootstrap core CSS-->
  <link href="/activityManage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/activityManage/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/activityManage/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="/dataTable/jquery.dataTables.min.css" rel="stylesheet">
  <script src="/activityManage/vendor/jquery/jquery.min.js"></script>
  <script charset="utf-8" src="/dataTable/jquery.dataTables.min.js"></script>
  <script charset="utf-8" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6MrbT0cNZgeYP3JUP4R2U-WZDbWVzWM8">
  </script>
</head>