<%- include header %>
    <%- include nav2 %>

        <link rel="stylesheet" href="/map/css/main.css">

        <br><br>
        <div class="container">
            <div class="row">

                    <img id="Image-Maps-Com-image-maps-2018-07-19-030856" src="http://www.image-maps.com/m/private/0/p0g14dhuptinnb25o9u2kd42g6_roc1.png" border="0" width="425" height="600" orgWidth="425" orgHeight="600" usemap="#image-maps-2018-07-19-030856" style="float:left;"
                        alt="" />
                    <map name="image-maps-2018-07-19-030856" id="ImageMapsCom-image-maps-2018-07-19-030856">
            <area shape="rect" coords="423,598,425,600" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
            <area id=" Hualien" alt="" title=" Hualien" href=" Hualien" shape="poly" coords="360,194,358,200,350,209,344,214,346,223,339,227,338,233,343,243,339,248,337,257,336,270,331,280,328,292,327,303,326,311,322,323,321,335,320,338,315,337,312,338,308,344,308,352,305,358,303,365,299,370,296,376,294,382,294,389,287,392,285,388,279,384,276,378,273,375,272,374,269,376,264,371,256,364,254,358,254,354,245,348,250,344,250,338,255,332,256,326,268,323,272,313,279,311,282,296,282,283,278,282,287,268,288,257,287,245,291,234,295,227,291,221,291,217,298,212,302,204,309,196,314,187,335,193,338,192,340,189,340,186" style="outline:none;" target="_self"     />
            <area id=" Yilan" alt="" title=" Yilan" href=" Yilan" shape="poly" coords="361,193,364,179,368,169,372,166,374,158,375,149,373,138,371,127,368,121,367,114,370,105,377,96,384,87,388,85,379,88,373,90,368,98,364,100,360,106,352,110,343,114,338,117,336,123,332,128,320,135,315,139,311,144,308,152,304,160,299,169,295,173,302,182,317,185,328,189,337,192,341,184" style="outline:none;" target="_self"     />
            <area id=" Taitung" alt="" title=" Taitung" href=" Taitung" shape="poly" coords="229,531,235,502,242,482,247,469,254,462,260,457,270,451,276,443,276,436,274,433,280,431,284,428,286,420,298,406,299,401,303,392,307,388,307,382,307,376,312,363,317,354,319,344,320,340,320,338,317,336,311,342,312,353,308,355,301,372,297,381,296,388,287,392,279,388,275,378,272,377,266,377,259,375,258,370,251,365,252,360,242,368,238,368,234,373,232,383,228,393,225,408,221,415,224,427,231,436,232,449,231,457,225,457,220,458,216,462,213,467,209,473,209,484,212,495,213,505,210,510,216,520,220,527" style="outline:none;" target="_self"     />
            <area id=" Pingtung" alt="" title=" Pingtung" href=" Pingtung" shape="poly" coords="228,534,229,553,228,570,221,578,224,587,217,582,212,577,209,578,206,582,203,583,203,578,201,570,199,564,201,554,199,537,196,527,192,520,187,512,177,502,167,499,160,493,158,488,160,479,163,468,161,458,165,448,165,437,170,435,183,435,190,430,198,429,208,430,218,434,221,432,228,439,228,450,232,447,220,455,212,460,208,467,205,473,207,485,209,493,213,502,207,507,213,522,220,532" style="outline:none;" target="_self"     />
            <area id=" Kaohsiung" alt="" title=" Kaohsiung" href=" Kaohsiung" shape="poly" coords="155,493,147,487,141,480,136,474,135,465,135,457,132,446,128,439,124,430,122,423,128,422,140,427,152,428,156,423,165,418,167,410,176,404,185,393,188,390,189,387,193,377,195,367,196,360,207,359,221,348,229,338,240,334,247,333,248,340,244,347,250,355,234,366,232,375,227,384,227,393,225,404,218,419,222,429,214,428,206,427,198,425,193,424,182,431,167,434,160,441,160,456,159,470,160,481" style="outline:none;" target="_self"     />
            <area id="Tainan" alt="" title="Tainan" href="Tainan" shape="poly" coords="193,371,186,382,182,390,173,400,163,409,158,421,150,424,141,426,130,424,122,422,119,414,112,405,104,400,101,394,100,389,108,384,106,382,105,377,108,371,111,363,113,359,115,355,127,360,131,355,138,351,144,345,153,342,161,342,170,343,174,355,176,364,176,372" style="outline:none;" target="_self"     />
            <area id="Chiayi" alt="" title="Chiayi" href="Chiayi" shape="poly" coords="116,323,128,327,133,323,139,321,148,315,154,310,161,306,171,306,180,312,193,314,204,316,209,308,219,314,221,326,225,333,233,331,243,332,223,341,215,348,202,356,194,359,191,366,186,370,179,370,176,363,177,354,174,348,171,343,159,341,147,342,138,347,133,353,126,358,121,359,117,355,120,349,121,341" style="outline:none;" target="_self"     />
            <area id=" Nantou" alt="" title=" Nantou" href=" Nantou" shape="poly" coords="227,329,245,328,252,335,256,326,263,320,269,314,276,308,281,296,279,285,279,277,281,268,286,259,286,247,288,235,292,228,290,221,289,215,296,212,294,207,284,206,277,211,269,211,261,214,253,222,244,225,232,227,228,230,226,226,224,225,222,233,215,236,209,246,196,243,192,247,192,258,191,269,199,275,196,280,192,282,195,292,192,299,194,307,207,304,216,308,218,317,222,325" style="outline:none;" target="_self"     />
            <area id="Yunlin" alt="" title="Yunlin" href="Yunlin" shape="poly" coords="202,307,198,314,189,311,180,311,171,303,160,305,152,307,146,313,134,319,128,326,116,323,118,313,118,303,122,294,123,288,124,281,132,275,135,272,150,274,162,274,179,278,190,278,194,287,192,297,192,306" style="outline:none;" target="_self"     />
            <area id=" Changhua" alt="" title=" Changhua" href=" Changhua" shape="poly" coords="198,275,188,279,173,276,162,273,149,272,137,271,138,265,148,253,147,248,150,244,157,237,162,231,162,226,165,219,168,215,171,212,177,226,188,228,193,240,192,247,190,258,189,269,194,274" style="outline:none;" target="_self"     />
            <area id=" Taichung" alt="" title=" Taichung" href=" Taichung" shape="poly" coords="196,239,210,243,220,231,225,224,233,225,247,223,255,217,265,212,273,209,283,206,290,205,299,205,305,200,311,192,314,185,307,183,297,185,296,180,293,176,288,174,283,179,277,185,273,185,268,190,262,193,256,194,251,198,247,192,239,190,236,190,234,197,226,198,217,197,209,191,197,182,191,175,187,180,184,190,178,192,175,199,173,204,169,209,174,219,181,226,188,230,192,238" style="outline:none;" target="_self"     />
            <area id=" Miaoli" alt="" title=" Miaoli" href=" Miaoli" shape="poly" coords="231,125,238,129,246,136,255,143,256,152,257,162,262,167,266,163,276,162,282,166,285,173,280,178,278,182,274,182,270,186,263,190,255,194,251,197,244,190,238,190,234,191,233,198,226,197,216,194,206,189,195,181,191,174,199,164,206,147,214,140,225,134,227,126" style="outline:none;" target="_self"     />
            <area id=" Hsinchu" alt="" title=" Hsinchu" href=" Hsinchu" shape="poly" coords="237,126,249,136,259,144,259,154,260,162,273,163,280,161,287,170,294,174,299,167,304,158,306,153,305,148,300,144,298,139,292,134,290,129,289,123,285,118,281,115,274,114,269,110,267,106,267,103,261,100,255,98,254,92,247,91,245,92,241,98,237,108,235,109,233,113,233,123" style="outline:none;" target="_self"     />
            <area id="Taoyuan" alt="" title="Taoyuan" href="Taoyuan" shape="poly" coords="307,148,313,135,317,134,312,125,309,119,310,114,308,109,298,107,296,104,296,99,294,95,294,87,297,82,304,82,306,77,303,70,294,69,291,65,288,62,275,65,267,71,261,74,256,75,250,79,248,85,244,90,258,93,257,98,269,100,274,108,285,111,293,120,295,128,293,130,302,141,303,148" style="outline:none;" target="_self"     />
            <area id="Taipei" alt="" title="Taipei" href="Taipei" shape="poly" coords="319,130,332,124,335,116,342,110,357,106,361,97,370,95,370,87,376,86,384,82,393,82,393,79,384,77,383,71,383,66,383,61,371,63,366,64,367,61,362,64,361,71,355,74,350,74,348,71,342,67,340,61,339,58,343,55,348,53,350,50,351,45,344,48,342,47,340,43,340,39,338,35,335,34,328,33,321,35,317,40,313,45,310,52,307,59,304,59,295,60,290,63,302,70,309,77,306,81,301,87,297,86,295,89,297,97,299,105,308,106,314,115,312,119,313,127" style="outline:none;" target="_self"     />
            <area id=" Keelung" alt="" title=" Keelung" href=" Keelung" shape="poly" coords="347,56,342,59,347,67,357,69,361,65,362,62,367,60,356,56,350,55" style="outline:none;" target="_self"     />
            </map>

                <div class="col-1"></div>
                <div class="col-5">
                    <div class="col-md-12 card-body d-flex flex-column align-items-start card flex-md-row mb-4 box-shadow">
                        <div class="col-md-9 activity_txt"><img src="/images/activity.png" style="width: auto;height: 60px;padding-right:5px;"> 2018-7-19&nbsp;&nbsp;&nbsp;

                            <a href="/activity/">
                                    2018共識營
                                </a>

                        </div>
                    </div>

                    <div class="col-md-12 card-body d-flex flex-column align-items-start card flex-md-row mb-4 box-shadow">
                        <div class="col-md-9 activity_txt"><img src="/images/activity.png" style="width: auto;height: 60px;padding-right:5px;"> 2018-7-19&nbsp;&nbsp;&nbsp;

                            <a href="/activity/">
                                        2018共識營
                                    </a>

                        </div>
                    </div>


                    <div class="col-md-12 card-body d-flex flex-column align-items-start card flex-md-row mb-4 box-shadow">
                        <div class="col-md-9 activity_txt"><img src="/images/activity.png" style="width: auto;height: 60px;padding-right:5px;"> 2018-7-19&nbsp;&nbsp;&nbsp;

                            <a href="/activity/">
                                            2018共識營
                                        </a>

                        </div>
                    </div>


                    <div class="col-md-12 card-body d-flex flex-column align-items-start card flex-md-row mb-4 box-shadow">
                        <div class="col-md-9 activity_txt"><img src="/images/activity.png" style="width: auto;height: 60px;padding-right:5px;"> 2018-7-19&nbsp;&nbsp;&nbsp;

                            <a href="/activity/">
                                                2018共識營
                                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
        <script src="/map/js/jquery.rwdImageMaps.js"></script>
        <script>
            $(document).ready(function(e) {
                $('img[usemap]').rwdImageMaps();
            });
        </script>


        <%- include footer %>