<div class="row col-12" id="managePage" style="display: none;">
    <div class="col-12">
            <p class="h3">成員申請審核</p>
    </div>
    <div class="col-sm-4 col-12">
        <input id="pass" class="btn btn-block btn-primary" type="button" value="通過" />
    </div>
    <div class="col-sm-4 col-12">
        <input id="reject" class="btn btn-block btn-danger" type="button" value="拒絕" />
    </div>
    <div class="col-sm-4 col-12">
        <input id="back1" class="btn btn-block btn-success" type="button" value="回上頁" />
    </div>
    <br />
    <br />
</div>
<div class="row col-12" id="review" style="display: none;"></div>
