<div id="permissionPage" class="row col-12" style="display: none">
    <div class="col-12">
            <p class="h3">成員權限調整</p>
    </div>
    <div class="col-sm-3 col-12">
            <input id="supreme" class="btn btn-block btn-primary" type="button" value="最高權限轉讓" />
    </div>
    <div class="col-sm-3 col-12">
            <input id="manager" class="btn btn-block btn-warning" type="button" value="賦予管理權限" />
    </div>
    <div class="col-sm-3 col-12">
        <input id="normal" class="btn btn-block btn-danger" type="button" value="解除管理權限" />
    </div>
    <div class="col-sm-3 col-12">
        <input id="back2" class="btn btn-block btn-success" type="button" value="回上頁" />
    </div>
</div>
<div class="row col-12" id="permissionManager" style="display: none;"  ><!--  -->
    <div class="col-12 border-bottom">
        <p class="h3">最高權限隊員</p>
    </div>
    <div class="row col-12" id="supremeDiv"></div>
    <div class="col-12 border-bottom">
        <p class="h3">管理權限隊員</p>
    </div>
    <div class="row col-12" id="manageDiv"></div>
    <div class="col-12 border-bottom">
        <p class="h3">一般隊員</p>
    </div>
    <div class="row col-12" id="normalDiv"></div>
</div>
    