<nav class="nav navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav nav-tabs">
  
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">關於

                  
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#" >計畫緣起與計畫願景
                  </a></li>
                  <li><a href="#">計畫支援團隊</a></li>
                  <li><a href="#">聯絡我們</a></li> 
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">研究團隊
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">計畫緣起與計畫願景
                  </a></li>
                  <li><a href="#">計畫支援團隊</a></li>
                  <li><a href="#">聯絡我們</a></li> 
                </ul>
              </li>

              <li><a href="#">研究資源</a></li>
              <li><a href="#">發表平台</a></li>
              <li><a href="#">跨領域實驗室</a></li>
              <li><a href="#">電子報</a></li>
             </div> 
        </div>
    </nav> 


  <br>