<br>
<div class="row flex-nowrap justify-content-between align-items-center">
<ul class="drop-down-menu">
        <li><a href="#">關於我們</a>
            <ul>
                <li><a href="#">計畫緣起與計畫願景</a>
                </li>
                <li><a href="#">計畫支援團隊</a>
                </li>
                <li><a href="#">聯絡我們</a>
                </li>               
            </ul>
        </li>
        
        <li><a href="#">研究團隊</a>
            <ul>
                <li><a href="#">計畫緣起與計畫願景</a>
                </li>
                <li><a href="#">計畫支援團隊</a>
                </li>
                <li><a href="#">聯絡我們</a>
                </li>
                
            </ul>
        </li>

        <li><a href="#">研究資源</a></li>
        <li><a href="#">發表平台</a></li>
        <li><a href="#">跨領域實驗室</a></li>
        <li><a href="#">電子報</a></li>

    </ul>
</div>


