<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10" style="border-bottom: 1px solid #d2cdbe;">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <ul class="drop-down-menu justify-content-between" id="nav">
                <li><a class="background_faf5eb" href="/aboutUs"><span><img height="20" width="20" src="/images/students2.png">關於我們</span>關於我們</a>
                </li>
                <li><a class="background_faf5eb" href="/team"><span><img height="20" width="20" src="/images/students2.png">研究團隊</span>研究團隊</a>
                </li>
                <li>
                    <a class="background_faf5eb" href="#"><span><img height="20" width="20" src="/images/students2.png">活動公告</span>活動公告</a>
                    <ul>
                        <li><a class="background_faf5eb" href="/activity">最新消息</a>
                        </li>
                        <li><a class="background_faf5eb" href="#">活動消息</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="background_faf5eb" href="#"><span><img height="20" width="20" src="/images/students2.png">在地關懷</span>在地關懷</a>
                </li>
                <li>
                    <a class="background_faf5eb" href="#"><span><img height="20" width="20" src="/images/students2.png">成果分享</span>成果分享</a>
                </li>
                <li>
                    <a class="background_faf5eb" href="#"><span><img height="20" width="20" src="/images/students2.png">居地城鄉</span>居地城鄉</a>
                </li>
                <li>
                    <a class="background_faf5eb" href="/admin"><span><img height="20" width="20" src="/images/students2.png">後臺管理</span>後臺管理</a>
                </li>
            </ul>
        </div>
        <div id="menu_div">
            <a id="menu" href="#"><i class="fa fa-bars"></i> MENU</a>
        </div>
    </div>
</div>
<script>
$(function() {
    var nav = $('#nav');
    var win = $(window);
    $('#menu').on('click', function(e) {
        e.preventDefault();
        nav.slideToggle();
    });

    win.resize(function() {
        if (win.width() > 480 && nav.is(':hidden')) {
            nav.removeAttr('style');
        }
    });
});
</script>