<br>

<div class="row flex-nowrap justify-content-between align-items-center">
<ul class="drop-down-menu">
        <li><a href="#">關於我們</a>
            <ul>
                <li><a href="#">計畫支援團隊</a>
                </li>
                <li><a href="#">聯絡我們</a>
                </li>               
            </ul>
        </li>
        
        <li><a href="/team">研究團隊</a>
            
        </li>

        <li>
            <a href="/activity">活動公告</a>
        </li>

        <li>
            <a href="#">在地關懷</a>
        </li>

        <li>
            <a href="#">成果分享</a>
            
        </li>
        <% if(user) { %>
        <li>
            <a href="/admin">後臺管理</a>
        </li>
        <% } %>


    </ul>
   </div>


