<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e0e0e0;">
    <a class="navbar-brand logo_a" href="/">
        <img class="align-top logo" src="/images/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="/activity">最新活動</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">團隊介紹</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/achievement">成果分享</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutUs">關於我們</a>
            </li>
            <% if(user) {%>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/admin" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    後臺管理
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">個人資料</a>
                    <a class="dropdown-item" href="/teamManage">團隊管理</a>
                    <a class="dropdown-item" href="/memberManage">成員管理</a>
                    <a class="dropdown-item" href="/activityManage">活動管理</a>
                    <a class="dropdown-item" href="/achievementManage">成果管理</a>
                    <a class="dropdown-item" href="/logout">登出</a>
                </div>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="/google/login">夥伴登入</a>
            </li>  
            <% } %>
        </ul>
    </div>
</nav>
<style>
    .logo {
        width: 20%;
        height: 20%;
    }
    @media only screen and (max-width: 768px) {
        .logo_a {
            width: 200px;
            display: contents;
        }
    }
    @media only screen and (max-width: 768px) {
        .logo_a {
            width: 200px;
            display: contents;
        }
    }
</style>
<style>
    body {
        font-size: 20px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        color: #212529;
    }
</style>