<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #e0e0e0; margin-top:30px;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row" >
          <div class="col-md-4" >
                  <h4 class="text-uppercase mb-4 mt-3 font-weight-bold">聯絡我們</h4>
                  <span style="font-size: 18px;">國立虎尾科技大學行動應用與軟體工程實驗室<br>
                      632雲林縣虎尾鎮文化路64號<br>
                      電話：05-6310000 分機：5594<br>
                      E-mail：40343113@gm.nfu.edu.tw<br>
                  </span>
              </div>
              <!--/.First column-->
  
              <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4">
          <h4 class="text-uppercase mb-4 mt-3 font-weight-bold">友站連結</h4>
          <ul class="list-unstyled">
              <li>
                  <a href="http://www.hisp.ntu.edu.tw/teams/nccu">新作坊</a>
              </li>
              <li>
                  <a href="http://www.ensit.tw/?page_id=444">社會創新人才培育網</a>
              </li>
              <li>
                  <a href="http://www.smartliving.org.tw/">教育部智慧生活整合性人才培育計畫</a>
              </li>
              <li>
                  <a href="http://www.university2025.tw/main.php">大學學習生態系統</a>
              </li>
          </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4">
              <h4 class="text-uppercase mb-4 mt-3 font-weight-bold">相關連結</h4>
              <ul class="list-unstyled">
                  <li>
                      <a href="https://ndhuspc.weebly.com/">山海洄瀾 縱谷學堂</a>
                  </li>
                  <li>
                      <a href="https://www.ncnu.edu.tw/ncnuweb/page/showDetail.aspx?id=c1e9d00f-1d1e-40ec-aa29-aaf76a7e46f7&board=unit&target=o">大學學習生態系統創新計畫-暨大無邊界大學計畫</a>
                  </li>
                  <li>
                      <a href="http://www.hfcc.org.tw/">HFCC人文及社會科學知識跨界應用能力培育計畫/教育部資科司</a>
                  </li>
              </ul>
          </div>

          <hr class="clearfix w-100 d-md-none">

          

      <!--Third column-->
      <!-- <div class="col-md-3 mx-auto" >
          <h4 class="text-uppercase mb-4 mt-3 font-weight-bold">相關連結</h4>
          <ul class="list-unstyled">
              <li>
                  <a href="https://www.nfu.edu.tw/zh/">國立虎尾科技大學</a>
              </li>
              <li>
                  <a href="http://maselab318.nfu.edu.tw/lab/">行動應用與軟體工程實驗室</a>
              </li>
              <li>
                  <a href="http://www.university2025.tw/main.php">大學學習生態系統創新計畫</a>
              </li>
          </ul>
      </div> -->
      <!--/.Third column-->

      <!-- <hr class="clearfix w-100 d-md-none"> -->

      <!--First column-->
      
  </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> Copyright © 2018 by National Formosa University - Maintain by maselab, All Rights reserved.
      <!-- <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->