<%- include header %>
<html>
	<head>
		<title>Alpha by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/newindex/assets/css/main.css" />
    </head>
    <div id="gotop">˄</div>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<!-- <header id="header" class="alt">
					<h1><a href="index.html">Alpha</a> by HTML5 UP</h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">Layouts</a>
								<ul>
									<li><a href="generic.html">Generic</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="elements.html">Elements</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button">Sign Up</a></li>
						</ul>
					</nav>
				</header> -->

			<!-- Banner -->
				<section id="banner">
					<h2>USR</h2>
					<p>「一個偉大的城市應該要有一所偉大的大學！」</p>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the ultimate mobile app
							<br />
							for doing stuff with your phone</h2>
							<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
							adipiscing nunc adipiscing. Condimentum turpis massa.</p>
						</header>
						<!-- <span class="image featured"><img src="images/pic01.jpg" alt="" /></span> -->
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
                                <!-- <span class="icon major fa-bolt accent2"></span> -->
                                <a href="http://www.wibibi.com"><img src="/newindex/images/web.png" alt="" width="30%"></a>
								<h3>平台介紹</h3>
							</section>
							<section>
                                <!-- <span class="icon major fa-area-chart accent3"></span> -->
                                <a href="http://www.wibibi.com"><img src="/newindex/images/msn.png" alt="" width="30%"></a>
								<h3>相關訊息</h3>
								</section>
						</div>
						<div class="features-row">
							<section>
                                <!-- <span class="icon major fa-cloud accent4"></span> -->
                                <a href="http://www.wibibi.com"><img src="/newindex/images/team.png" alt="" width="30%"></a>
								<h3>研究團隊</h3>
								</section>
							<section>
                                <!-- <span class="icon major fa-lock accent5"></span> -->
                                <a href="http://www.wibibi.com"><img src="/newindex/images/share.png" alt="" width="30%"></a>
								<h3>成果分享</h3>
								</section>
                        </div>
					</section>
                    <section>
                        <%- include img_bar %>
                </section>
					<!-- <div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="/newindex/images/pic02.jpg" alt="" /></span>
								<h3>Sed lorem adipiscing</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="/newindex/images/pic03.jpg" alt="" /></span>
								<h3>Accumsan integer</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div> -->

			<!-- CTA -->
				<!-- <section id="cta">

					<h2>Sign up for beta access</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

					<form>
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section> -->

        <!-- Scripts -->
			<script src="/newindex/assets/js/jquery.min.js"></script>
			<script src="/newindex/assets/js/jquery.dropotron.min.js"></script>
			<script src="/newindex/assets/js/jquery.scrollex.min.js"></script>
			<script src="/newindex/assets/js/browser.min.js"></script>
			<script src="/newindex/assets/js/breakpoints.min.js"></script>
			<script src="/newindex/assets/js/util.js"></script>
            <script src="/newindex/assets/js/main.js"></script>
            <script src="/newindex/assets/js/gotop.js"></script>

	</body>
</html>
<%- include footer %>