<% include header %>
<% include nav2 %>
<div style="height: 100px;"></div>
<div class="container" style="font-size: 20px;">
    <div class="row border">
        <div class="col-12">
                <h2 style="text-align: center;">個人資料使用授權同意書文字內容</h2>
                <h4>國立虎尾科技大學（以下簡稱本校）依據個人資料保護法規定，未來在學期間對於貴同學個人資料之蒐集、處理及利用，應向您告知下列事項，請您詳閱：</h4>
                <ol>
                    <li>蒐集、處理及利用之目的：教學及行政、學生資料管理、學生健康資料管理、家長關懷查詢學生在校學習(課程、成績)暨生活(缺曠課)及為辦理教學、研究、行政、輔導、衛生保健及服務等相關事宜所需。</li>
                    <li>蒐集、處理及利用之個人資料類別：
                        <ol>
                            <li>學生：姓名、身分證字號、學號、系級、學生手機電話、住址、電子帳號、健檢資料與其他。</li>
                            <li>學生配偶、父母或監護人：姓名、身分證字號、手機電話、住址與其他。</li>
                            <li>申辦類別證明文件：身障手冊、低收及中低收入戶證明、特殊境遇家庭子女證明、全戶戶籍謄本、撫卹金證書與其他。</li>
                        </ol>
                    </li>
                    <li>個人資料利用之期間、地區、對象及方式：
                        <ol>
                            <li>期間：個人資料蒐集之特定目的存續期間，依相關法令之保存所訂保存年限或本校因執行教學、行政相關業務所必需之保存期間。</li>
                            <li>地區：本國籍與本校有業務往來之國內外機構營業處所所在地</li>
                            <li>對象：本校教學行政相關業務人員、依法有調查權機關、主管行政機關。</li>
                            <li>方式：以自動化機器或其他非自動化之方式利用。</li>
                        </ol>
                    </li>
                    <li>依據個資法規定，您就個人資料依個資法規定得行使下列權利：
                        <ol>
                            <li>得向本校查詢、請求閱讀或請求製給複製本，惟本校規定得本人拿取證件申請。</li>
                            <li>得向本校請求補充或更正，惟依法您應為適當之釋明。</li>
                            <li>得向本校請求停止蒐集、處理或利用及請求刪除，惟依法本校因執行業務所必須者，得不依請求為之。</li>
                        </ol>
                    </li>
                    <li>您得自由選擇是否提供相關個人資料，惟您若拒絕提供相關個人資料，本校將無法進行必要之審核及處理作業，致無法提供您相關事項之申請與辦理。</li>
                    <li>您瞭解此一同意書符合個人資料保護法及相關法規之要求，具有書面同意本校蒐集、處理及使用您的個人資料之效果。</li>
                    <li>本同意書如有未盡事宜，依個人資料保護法及其他相關法規之規定辦理。</li>
                </ol>
        </div>
    </div>
</div>
<% include footer %>