<div class="col-12" id="managePage">
    <table id="dataTableForTeam" class="table table-bordered table-responsive-sm text-nowrap" style="width: 100%"></table>
</div>
<script>
    $(document).ready(function() {
        (function() {
            let result = <%- teams %>;
            let nowID = null;
            let nowID_D = null
            for(var i = 0 ; i < result.length ; i++)
                result[i].id = i + 1;
            let dataTableForTeam = $('#dataTableForTeam').DataTable({
                "data": result,
                "columns": [
                    { "title": "團隊ID", "data": "id" },
                    { "title": "團隊名稱", "data": "name", 
                        "fnCreatedCell": function(td, cData, rData, rIndex, cIndex) {
                            $(td).html('<a href=/team/' + rData._id + '>' + cData + '</a>');
                        }},
                    { "title": "團隊領導人", "data": "leader" }
                ]
            });

            $('#dataTableForTeam tbody').on( 'click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    nowID = null;
                    nowID_D = null
                }
                else {
                    dataTableForTeam.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    if(dataTableForTeam.row( this ).data()){
                        nowID = dataTableForTeam.row( this ).data()._id;
                        nowID_D = $(this);
                    }
                }
            });

            $('#update').click(() => {
                if(nowID == null || nowID_D == null){
                    alert('尚未選取隊伍');
                    return;
                }
                let data = nowID;
                $('#managePage').hide();
                $('#features').hide();
                $('#newPage').hide();
                $('#backDIV').show();
                $('#editPage').show();

                $.post('/team/get', { data: data }, (result) => {
                    $('#editID').val(result._id);
                    $('#editInputID1').val(result.name);
                    $('#editInputID2').val(result.leader);
                    $('#editInputID3').val(result.website);
                    $('#editInputID4').val(result.connection.name);
                    $('#editInputID5').val(result.connection.phone);
                    $('#editInputID6').val(result.connection.email);
                    $('#editTextareaID1').html(result.purpose);
                    $('#editTextareaID2').html(result.introduction);
                    $('#editTextareaID3').html(result.pro_introduction);
                    $("#editInputID7").attr("src", result.teamImg);
                    $("#editInputID8").attr("src", result.teamIcon);
                    $("#editInputID9").attr("src", result.teamLogo);
                    data = null;
                });
            });

            $('#delete').click(() => {
                if(nowID == null || nowID_D == null){
                    alert('尚未選取隊伍');
                    return;
                }
                    
                let data =  nowID;
                $.post('/team/delete', { data: data } , (result) => {
                    // console.log('123');
                    if(result == 'success'){
                        dataTableForTeam.row(nowID_D).remove().draw();
                        nowID = null;
                        nowID_D = null;
                        alert('刪除隊伍成功');
                    } else if(result == 'serError'){
                        console.log('error');
                        alert('伺服器異常');
                    } else if (result == 'error') {
                        alert('權限不符');
                    }
                });
            });
        })();
    });
</script>