<%- include header %>
<form method="post">
	團隊名稱: <input type="text" name="name" /><br />
	團隊負責人:	<input type="text" name="leader" /><br />
	團隊介紹: <br /> 
	<textarea name="introduction" rows="20" cols="100"></textarea><br />
	團隊專業:<br />
	陳述式:<br />
	<textarea name="pro_introduction" rows="20" cols="100"></textarea><br />
	條列式:<br />
	<input type="pro_introduction2" name="name" /><br />
	團隊網站:<br />
	<input type="text" name="website" /><br />
	聯絡信箱:<br />
	<input type="email" name="email" /><br />
	<input type="submit" name="新增" />
</form>
<%- include footer %>