<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>University Social Responsibility</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/basic/css/w3.css">
    <link rel="stylesheet" href="/basic/css/bootstrap.min.css">
    <link rel="stylesheet" href="/basic/css/index_v2/index.css">
    <link rel="stylesheet" href="/activity/assets2/css/stytle.css" />
    <script src="/basic/js/jquery.min.js"></script>
    <script src="/basic/js/bootstrap.min.js"></script>
</head>
<body>
<script>
window.fbAsyncInit = function() {
    FB.init({
        https://www.facebook.com/v3.1/dialog/oauth?
        client_id={app-id},
        &redirect_uri={redirect-uri}
        &state={state-param}
    });
    FB.AppEvents.logPageView();
};

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</body>
</html>