<div id="gotop">˄</div>
<script src="/newindex/assets/js/gotop.js"></script>
<style>
#gotop {
    position: fixed;
    border-radius: 50px;
    right: 20px;
    bottom: 30px;
    padding: 10px 16px;
    font-size: 25px;
    background: rgba(58, 52, 52, 0.733);
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;
}
</style>
