.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5
}
.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem
}
.blog-header-logo:hover {
  text-decoration: none
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
}
.display-4 {
  font-size: 2.5rem
}
@media (min-width:768px) {
  .display-4 {
    font-size: 3rem
  }
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden
}
.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch
}
.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem
}
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0
}
.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto
}
.h-250 {
  height: 250px
}
@media (min-width:768px) {
  .h-md-250 {
    height: 250px
  }
}
.h-350 {
  height: 250px
}
@media (min-width:768px) {
  .h-md-350 {
    height: 590px
  }
}
.border-top {
  border-top: 1px solid #e5e5e5
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05)
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400
}
.blog-description {
  font-size: 1.1rem;
  color: #999
}
@media (min-width:40em) {
  .blog-title {
    font-size: 3.5rem
  }
}
.blog-pagination {
  margin-bottom: 4rem
}
.blog-pagination>.btn {
  border-radius: 2rem
}
.blog-post {
  margin-bottom: 4rem
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999
}
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5
}
.blog-footer p:last-child {
  margin-bottom: 0
}
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
ul.drop-down-menu {
  border: #ccc 0 solid;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px
}
ul.drop-down-menu li {
  position: relative;
  white-space: nowrap;
  border-right: #ccc 1px solid
}

ul.drop-down-menu>li {
  float: left
}
ul.drop-down-menu a {
  background-color: #fff;
  color: #333;
  display: block;
  padding: 0 30px;
  text-decoration: none;
  line-height: 40px
}
ul.drop-down-menu a:hover {
  background-color: #ef5c28;
  color: #fff
}
ul.drop-down-menu ul {
  border: #ccc 1px solid;
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 100%;
  min-width: 180px
}

ul.drop-down-menu ul {
  left: 99999px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
ul.drop-down-menu li:hover>ul {
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  left: -1px;
  border-right: 5px
}


ul {
  margin: 0;
  padding: 0;
  list-style: none
}

dd {
  margin: 0;
  padding: 0;
  list-style: none
}
div.main {
  background-color: #e33535;
  color: #fff;
  font-family: 微軟正黑體;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  height: 30px
}
div.main:hover {
  background-color: #aaa;
  height: auto;
  -webkit-transition: opacity 3.5s;
  transition: opacity 3.5s
}
div.sub {
  background-color: #4d4949;
  color: #fff;
  font-family: 微軟正黑體;
  text-align: center;
  font-weight: 700
}
div.sub a {
  background-color: #4d4949;
  color: #fff;
  font-family: 微軟正黑體;
  text-align: center;
  font-weight: 700
}
div.sub {
  left: 99999px;
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  oevrflow: auto
}

dl
{
  margin: 0;
  padding:0;
  margin-botton:0;
  list-style: none
}


 dl.dropdown {
  background-color: #e33535;
  color: #fff;
  font-family: 微軟正黑體;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  height: auto;
}
 dl.dropdown1 {
  background-color: #e33535;
  color: #fff;
  font-family: 微軟正黑體;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  height: auto;
}

dl.dropdown a{ 
  color: #fff;
}

dl.dropdown1 a{ 
  color: #fff;
}


dl.dropdown:hover{
  background-color: #aaa;
  height: auto;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s
}
p
{
  margin: 0;
  padding:0;
  margin-botton:0;
  list-style: none
}

dl .mutliSelect {
  background-color: #4d4949;
  color: #fff;
  font-family: 微軟正黑體;
  text-align: center;
  font-weight: auto;
}

.dropdown dd ul {
  display: none;
}
.dropdown1 dd ul {
  display: none;
}

#menu_div {
  display: none;
}



@media screen and (max-width: 990px) {
  
  ul.drop-down-menu{
  display: none;
  }
  ul.drop-down-menu>li {
  list-style: none;

  }
  
  ul.drop-down-menu li {
    position:inherit;
    white-space: none;
    opacity: 1;
    border-right: none;
    
  }
  ul.drop-down-menu>li {
  float: inherit;
  }
  
  ul.drop-down-menu ul {
    position: inherit;
    border: none;

  }

  ul.drop-down-menu ul {
  left: 99999px;
  opacity: 1;
}
ul.drop-down-menu li:hover>ul {
  opacity: 1;
  left: -1px;
  border-right: 5px
}
  
  #menu_div {
    display: block;
    text-align: left;
    width: 100%;
    background-color: #0F455C;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #menu {
    padding-left: 15px;
  }
}

h4 > img {
  width: 100%;
}
.padding5{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.middle{
  vertical-align:middle;
}

.bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.content {
    display: none;
    width: 500px;
    height: 300px;
    position: fixed;
    top: 50%;
    margin-top: -250px;
    z-index: 3;
    left: 50%;
    margin-left: -250px;
}