.word{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    }
.wordsize{
        font-size: 300%;
        color: white;
    }
    .tooltip {
        position:absolute;
        z-index:1000; 
        max-width:300px; 
        width:auto!important; 
        width:auto; background:rgb(54, 236, 54); 
        border-radius: 5px; 
        text-align:left; 
        padding:3px;
        filter:alpha(opacity=80); /*IE,透明度50%*/
        -moz-opacity:0.8; /*Firefox,透明度50%*/
        opacity:0.8;
       }
       
       .tipsy-inner {
        margin:0;
        padding:0; 
        color:#FFFFFF;
        font:13px BenchNine,"Bebas Neue",Bebas,"Arial Narrow",Sans-Serif,"微軟正黑體"; 
       }
    @media screen and (max-width: 480px) {

        /* // 如果使用者視窗寬度 <= 480px，將字體大小變為 16px */
        
       
        
        }
        
        @media screen and (max-width: 768px) {
        
        /* // 如果使用者視窗寬度 <= 768px，將字體大小變為 20px */
        
        
        
        }
        
        @media screen and (min-width: 768px) and (max-width: 992px) {
        
        /* // 如果使用者視窗寬度介於 768px ~ 992px，將字體大小變為 30px */
        
        .word{
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            }

        
        }
        
        @media screen and (min-width: 1200px) {
        
        /* // 如果使用者視窗寬度 >= 1200px，將字體大小變為 40px */
        
        
        
        }